<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram"></i></a>
            <a href="https://www.linkedin.com/"><i class="fa-brands fa-square-linkedin"></i></a>
        </div>
        <div class="f-info-brand f-info-links"><a href="/listings">&copy; Nestify Private Limited</a></div>
        <div class="f-info-links">
            <form method="get" action="/privacy"><a href="/privacy">Privacy</a> &nbsp;&nbsp;</form>
            <form method="get" action="/terms"><a href="/terms">Terms</a></form>
        </div>
    </div>
</footer>