body {
    font-family: "Plus Jakarta Sabs" !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

/* Navbar */
.navbar {
    z-index: 1000;
    background-color: white;
}

.navbar-collapse {
  background-color: white;
}

.fa-neos {
    color: red;
    font-size: 2rem;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
}
.f-info-links a:hover {
    text-decoration: underline;
}
.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}
.f-info-socials i {
    font-size: 1.2rem;
    color: #222222;
}
.f-info {
    display: flex;
    background-color: #ebebeb;
    height: 8rem;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    text-align: center;
}

/* Cards */
.listing-card {
    margin-bottom: 2rem;
    border: none !important;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.listing-link {
    text-decoration: none;
}

/* Card Effect */
.card-img-overlay {
    opacity: 0;
}
.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn {
    background-color: red !important;
    border: none !important;
}

/* Edit Page */
.edit-btn {
    background-color: red !important;
    border: none !important;
}

/* Show Page */
.show-img {
     height: 30vh;
}

.btns {
    display: flex;
}

.show-card {
    padding-left: 0;
    padding-right: 0;
}