<% layout("layouts/boilerplate") %>

<style>
    .privacy {
        background-color: rgb(247, 238, 238);
        width: 48rem;
        padding-left: 2rem;
        padding-bottom: 0.5rem;
        padding-top: 0.5rem;
        border-radius: 15px;
        box-shadow: 0 0 10px rgb(208, 207, 207);
    }

    .privacy:hover {
        box-shadow: 0 0 35px rgb(228, 97, 97);
    }
</style>
<div class="offset-2 mt-3 privacy mb-3">
    <h2>Privacy Policy</h2>

    <p>Welcome to Nestify. Your privacy is important to us.</p>

    <h3>Information We Collect</h3>
    <p>We collect personal information such as name, email, and location when users register on our platform.</p>

    <h3>How We Use Information</h3>
    <p>We use your data to improve our platform, personalize user experience, and maintain account functionality.</p>

    <h3>Data Protection</h3>
    <p>We ensure your data is stored securely and protected from unauthorized access.</p>

    <h3>Sharing Information</h3>
    <p>We do not sell your data. Information may be shared only when required by law.</p>

    <h3>Cookies</h3>
    <p>We use cookies to enhance your browsing experience.</p>

    <h3>User Rights</h3>
    <p>You can update or delete your information anytime.</p>

    </div>
